<p>Esta aventura empieza a mis 40 años, cansado de 22 años de empleado bancario, queriendo patear el tablero en una estabilidad real en lo económico pero no en las ganas de hacer algo que me divierta, inspire, emocione y cambie mi alimentación para siempre!

  Frutos Tandil arrancó en febrero de 2018 desde otro proyecto que se llamaba Zekla en la dietética que hoy esta ubicada en calle ....... Nació de un proyecto de dos amigos que soñaban con algo grande, queríamos innovar con estructura, productos nuevos todo el tiempo, calidad de atención y trabajar en un ambiente familiar.

  Luego de eso en febrero 2019 con mucho esfuerzo y apoyo de 2 personas fundamentales en mi vida, nació el nombre Frutos.

  Con ése nombre abrimos nuestra sucursal de calle ........., con la intención de brindar a cada uno de nuestros clientes la mejor atención posible, escuchando atentamente sus necesidades y asesorándolos de la mejor manera a encontrar el producto que este necesita. Sabiendo que la satisfacción que se recibe al ayudar, no tiene precio. Sobre estas premisas se fundó, se desarrolló nuestro negocio. Luego con las herramientas de Facebook
  y de Instagram afianzamos un contacto diario con preguntas, pedidos de algún producto en particular, sorteos, aportes de nutricionistas y la lista sigue.

  Llegó el 2020, virus mundial, pandemia, cuarentena y nos puso presión para incorporarnos a la era digital. En noviembre también llegamos a ustedes a través de nuestra tienda online y redes sociales.


  Gracias a los que nos acompañan desde siempre y bienvenidos a nuestros nuevos clientes. Felices con esta nueva incorporación.</p>
