td {
  vertical-align: middle;
}
.promocion {

    background-color: lightcoral;

}

input {
  width: 40px;
  background-color: lightgray;
  border-radius: 20%;

}


button {
  border-radius: 25%;

}


